In [2]:
# import modul yang diperlukan
import pandas as pd

In [3]:
# baca dataset
data1 = pd.read_csv("datasets/top-20-play-store-app-reviews.csv")

In [4]:
# melihat jumlah data
data1.shape

(10000, 3)

In [5]:
# melihat lima data pertama
data1.head(5)

,reviewId,content,score
0,4fda6278-1d09-4f81-9e50-b2a9389082d6,Good,5
1,b53531ff-4f22-4fe3-9503-22da08203885,SOO GOOD,5
2,e7a41e88-f51b-4b18-b765-d42457a829ce,Please tik tok team virel my videos please,5
3,75a69c84-4699-4d5b-bffc-14387218a347,So cool,5
4,120c8a02-a2ab-4523-a76e-74ec0d3bee1c,On my way to 1K...üòçü•∞,5

In [6]:
# melihat lima data terakhir
data1.tail(5)

,reviewId,content,score
9995,eea6facc-f29b-4976-857c-1cf0c2f2c6b1,Me want to download back TikTok,5
9996,b576e584-9f54-49db-b45f-adf790a1da35,Best thing ever,5
9997,1db7ecb9-af58-4693-8a0b-e1bf24cc8653,So I was just trying to post a Roblox vid and ...,2
9998,59481d1e-4313-4c60-bfaa-9a1c43228b3b,I've had a good time.,4
9999,a7996e56-502b-4f4b-9834-ade2ce3a158b,Account is all freez no viral video,1

In [7]:
# mengambil 5 sampel data secara random
data1.sample(5)

,reviewId,content,score
5545,74b517a2-2f88-4944-a583-61973b27f8dd,Because ewe nasty stuff on their And it's just...,1
5067,2de0e54f-b158-4328-82b9-8b4c5f09879b,Viral Karwa Do üòÇü§£,5
1747,c1d9c048-e62d-481d-b6e4-5f185525e0a6,It is the best,5
9444,a57b71b2-4385-4582-9270-c73aac09c359,Nice,1
2643,a15f0d3f-14a0-4e94-86ea-e49b4d109787,Very good,4

In [8]:
# melihat data secara deskriptif
data1.describe()

              score
count  10000.000000
mean       4.201200
std        1.456067
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [9]:
data1.columns

Index(['reviewId', 'content', 'score'], dtype='object')

In [10]:
# menghitung variabel kategorik dari kolom content
data1['content'].value_counts()

Good                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            388
Nice                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            270
Good app                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        128
Great app                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       126
Nice app                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        103
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ...
good for you and me                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
garbage dont download                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Just find it funny that I can't access my main account so I had to make a new one that won't have my liked videos on it or people I'm following or anything. TikTok is supposed to be a big company, right? Then how come I have to go spend $45 I don't have (because my husband and I are preparing to welcome a son into the world soon) just to get my old phone reactivated for a month to get my main account back because of 2FA? TikTok can't just change my old number to my new one??? Funnnyyyy!!      1
Never disappointed                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Account is all freez no viral video                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: content, Length: 7449, dtype: int64

In [16]:
# mengubah variabel good menjadi baik dan nice menjadi biasa
data1['content']=data1['content'].map({'good':'bagus', 'nice':"bagus", "good app":"bagus", "great":"great", "great app":"great"})

In [17]:
data1['content'].value_counts()

great    2
Name: content, dtype: int64