In [47]:
# import library yang diperlukan
import pandas as pd

In [48]:
# menghubungkan dengan dataset
data1 = pd.read_csv("datasets/top-20-play-store-app-reviews.csv")

In [49]:
# menampilkan 5 data pertama 
data1.head()

,reviewId,content,score
0,4fda6278-1d09-4f81-9e50-b2a9389082d6,Good,5
1,b53531ff-4f22-4fe3-9503-22da08203885,SOO GOOD,5
2,e7a41e88-f51b-4b18-b765-d42457a829ce,Please tik tok team virel my videos please,5
3,75a69c84-4699-4d5b-bffc-14387218a347,So cool,5
4,120c8a02-a2ab-4523-a76e-74ec0d3bee1c,On my way to 1K...üòçü•∞,5

In [50]:
# mendapatkan nama kolom yang ada pada dataset
kolom = list(data1.columns)
kolom

['reviewId', 'content', 'score']

In [51]:
# memeriksa missing value
print("Distribusi missing values : ")
print(data1.isnull().mean())
print("")

Distribusi missing values :
reviewId    0.0
content     0.0
score       0.0
dtype: float64

In [52]:
# memeriksa tipe data dati masing-masing kolom
print("Tipe data kolom : ")
print(data1.dtypes)

Tipe data kolom :
reviewId    object
content     object
score        int64
dtype: object

In [53]:
# drop kolom reviewId
data1.drop('reviewId', inplace=True, axis=1)

In [54]:
data1.head()

                                      content  score
0                                        Good      5
1                                    SOO GOOD      5
2  Please tik tok team virel my videos please      5
3                                     So cool      5
4                        On my way to 1K...üòçü•∞      5

In [55]:
data1['content'].unique()

array(['Good', 'SOO GOOD', 'Please tik tok team virel my videos please',
       ...,
       'So I was just trying to post a Roblox vid and they banned my account',
       "I've had a good time.", 'Account is all freez no viral video'],
      dtype=object)

In [56]:
print(data1.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool